name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.2"]
        gemfile:
          - gemfiles/rails_7_2.gemfile
          - gemfiles/rails_8_0.gemfile
    name: Ruby ${{ matrix.ruby }}, ${{ matrix.gemfile }}
    steps:
      - uses: technote-space/auto-cancel-redundant-job@7d35aba30420fc2368f8aeed50371e99e7fa3239 #v 1.7
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: ruby/setup-ruby@e34163cd15f4bb403dcd72d98e295997e6a55798 # v1
        env:
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Build and test with Rake
        env:
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rake
